<!DOCTYPE html>
<html lang="zxx">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{{asset("assets/images/logo.svg")}}" />
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        {% block stylesheets %}

            <!-- Font Icon -->
            <link rel="stylesheet" href="{{asset("assets/fonts/material-icon/css/material-design-iconic-font.min.css")}}">
            <!-- Main css -->
            <link rel="stylesheet" href="{{asset("assets/css/style2.css")}}">

        {% endblock %}

        {% block javascripts %}

            <!-- JS reg -->
            <script src="{{asset("assets/vendor/jquery/jquery.min.js")}}"></script>
            <script src="{{asset("assets/js/main.js")}}"></script>
       
        {% endblock %}

    </head>
    <body>
        {% block body %}
        
            <div id="content">{% block content %}{% endblock %}</div>

        {% endblock %}
    </body>
</html>
